@{
    ViewBag.Title = "Email Confirmed";
    Layout = "~/Views/Shared/_LoginShared.cshtml";
}

<div class="module module-login span4 offset4">
    <div class="module-head">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="module-body">
        <div class="control-group">
            <div class="row-fluid">
                <span style="width:85%">
                    Thank you for confirming your email @ViewBag.UserName! Please click
                    <u>@Html.ActionLink("here", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</u>
                    to go to the home dashboard page.
                </span>
            </div>
        </div>
    </div>
    <div class="module-foot">
        <div class="control-group">
            <div class="controls clearfix">
                <span class="span3" style="font-size:12px; width:86%; margin:4px 0 0 0">@ViewBag.UserEmail</span>
                <img src="@ViewBag.AvatarPath" style="height:25px; width:25px; margin-left:0" class="pull-right span1" />
            </div>
        </div>
    </div>
</div>
