@using Financial_Portal.Helpers
@model Financial_Portal.Models.AcceptInvitationViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginShared.cshtml";
}
<style>
    .behind{
        z-index:-1;
    }
</style>
<div class="module module-login span4 offset4">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal validate-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("AvatarPath")
        <div class="module-head">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="modal-body">
            @if (ViewBag.HasCode == false)
            {
                <div class="control-group">
                    <div class="controls row-fluid wrap-input100 validate-input" data-validate="Valid email is required">
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        <input class="span12 input100" type="text" name="email" id="Email" placeholder="Email">
                    </div>
                </div>
            }
            else
            { 
                @Html.HiddenFor(m => m.Code)
                @Html.HiddenFor(m => m.HouseholdId)
                <div class="control-group">
                    <div class="controls row-fluid wrap-input100 validate-input" data-validate="Valid email is required">
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(model => model.Email, new { @class = "span12 input100", @readonly = "readonly" })
                    </div>
                </div>
            }
            <div class="control-group">
                <div class="controls row-fluid wrap-input100 validate-input" data-validate="First name is required">
                    <input class="span12 input100" type="text" name="firstname" id="FirstName" placeholder="First Name">
                </div>
            </div>
            <div class="control-group">
                <div class="controls row-fluid wrap-input100 validate-input" data-validate="Last name is required">
                    <input class="span12 input100" type="text" name="lastname" id="LastName" placeholder="Last Name">
                </div>
            </div>
            <div class="control-group">
                <div class="controls row-fluid wrap-input100 validate-input" data-validate="Password is required">
                    <input class="span12 input100" type="password" name="password" id="Password" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls row-fluid wrap-input100 validate-input" data-validate="Does not match password">
                    <input class="span12 input100" type="password" name="confirmpassword" id="ConfirmPassword" placeholder="Confirm Password">
                </div>
            </div>
            <div class="control-group" style="max-height:65px">
                <a data-toggle="modal" data-target="#AvatarModal">
                    <img class="span1" id="targetImg" src="@Model.AvatarPath" style="height:50px;width:50px;padding:5px;border:1px solid grey;margin:0" alt="img">
                    @Html.Label("Click to change Avatar or leave default", new { @class = "span2", style = "padding-left:10px; margin:0; width:72%; font-size:12px" })
                </a>
            </div>
        </div>
        <div class="module-foot">
            <div class="control-group">
                <div class="controls clearfix">
                    <button type="submit" class="btn btn-navbar pull-right">Register</button>
                </div>
            </div>
        </div>
    }
</div>

<!-- Avatar Modal -->
<div class="modal fade" id="AvatarModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">Select An Avatar</h3>
            </div>
            <!-- Modal body -->
            <div class="modal-body" style="padding:15px 7%">
                    @foreach (var avatar in AvatarHelper.ModalAvatarList())
                    {
                        <img class="srcImg" data-toggle="modal" data-target="#AvatarModal"
                             src="@avatar" style="height:113px;width:113px;padding:20px" />
                    }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#AvatarModal').addClass('behind')
        });
        $('#targetImg').on('click', function () {
            $('#AvatarModal').removeClass('behind')
        });
        $('#AvatarModal').on('hidden.bs.modal').addClass('behind');

        $(".srcImg").on("click", function () {
            var newSrc = $(this).attr('src');
            $('#targetImg').attr("src", newSrc);
            $('#AvatarPath').val(newSrc);
        });
    </script>
}
