@model Financial_Portal.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="module" style="width:80%">
    <div class="module-head">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="module-body">
        <br />
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
        {
            @Html.AntiForgeryToken()
            <div class="control-group">
                <label class="control-label" for="OldPassword">Old Password</label>
                <div class="controls">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "span8", placeholder = "Old" })
                </div>
            </div>
            <div class="control-group">
                <br />
                <label class="control-label" for="NewPassword">New Password</label>
                <div class="controls">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "span8", placeholder = "New" })
                </div>
            </div>
            <div class="control-group">
                <br />
                <label class="control-label" for="ConfirmPassword">Confirm Password</label>
                <div class="controls">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "span8", placeholder = "Confirm New" })
                </div>
            </div>
            <div class="control-group">
                <br />
                <div class="controls">
                    <button type="submit" class="pull-left btn btn-large btn-primary">Save Password</button>
                    <a class="span4" style="margin-top:6px" href="/Manage/EditProfile">Back to profile</a>
                </div>
            </div>
            <br />
        }
    </div>
</div>
