@model Financial_Portal.Models.Invitation

@{
    ViewBag.Title = "Create Invitation";
}

<div class="module" style="width:500px">
    <div class="module-head">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="module-body">
        @using (Html.BeginForm("Create", "Invitations", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("HouseholdId")
            <div class="control-group">
                <br />
                <label class="control-label" for="RecipientEmail">Recipient Email</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.RecipientEmail, new { @class = "span8", placeholder = "Email" })
                </div>
            </div>
            <div class="control-group">
                <br />
                <label class="control-label" for="TTL">Time To Live(Days)</label>
                <div class="controls">
                    @Html.TextBox("TTL","7", new { @class = "span8", placeholder = "Days", type = "number" })
                </div>
            </div>
            <div class="control-group">
                <br />
                <div class="controls">
                    <button type="submit" class="btn btn-large btn-primary">Send Invite</button>
                </div>
            </div>
            <br />
        }
    </div>
</div>