@using Financial_Portal.Helpers
@using Financial_Portal.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Biggy_Bank";
    var roleHelp = new RoleHelper();
    var db = new ApplicationDbContext();
    var user = db.Users.Find(User.Identity.GetUserId());
    var role = roleHelp.ListUserRoles(user.Id).FirstOrDefault() ?? "Guest";
    if (role == "Head_Of_House") { role = "Head of House"; }
    var eConfirmed = user.EmailConfirmed;
    var avatar = user.AvatarPath;
    var name = user.FullName;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <style>
        .btn-navbar:hover {background-image: linear-gradient(to bottom, #1d2d4d, #2f3f5f) !important;}
        .btn-navbar {background-image: linear-gradient(to bottom, #1d1d2d, #2f2f3f) !important;}
        .dropIcon {margin-top: 2px !important;padding-right: 5px !important;}
        .btn:hover {background-position: 0 0 !important;}
        .lessMargin {margin:7px 5px !important;}
        body {overflow-y:scroll;}
    </style>

    <!-- Style sheets -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/theme.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />
    <link type="text/css" href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
          rel='stylesheet' />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse" style="margin-top:12px">
                    <i class="menu-icon icon-align-justify"></i>
                </a><a class="brand">Biggy_Bank </a>
                <img src="~/Images/bigpig.png" style="position:absolute; top:5px; left:130px; max-height:75px; max-width:75px" />
                <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav nav-icons">
                        <li><a class="lessMargin">Welcome, @name!<br /> Current Role: "@role"</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Dropdown
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Item No. 1</a></li>
                                <li><a href="#">Don't Click</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Example Header</li>
                                <li><a href="#">A Separated link</a></li>
                            </ul>
                        </li>
                        <li class="nav-user dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@avatar" class="nav-avatar" />
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Manage/EditProfile">Edit Profile</a></li>
                                <li><a href="/Manage/Index">Account Settings</a></li>
                                <li class="divider"></li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new
                                { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <li>
                                        <a href="javascript:$('#logoutForm').submit()">
                                            <i class="menu-icon icon-share-alt"></i><span style="padding-left:5px">Logout</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.nav-collapse -->
            </div>
        </div>
        <!-- /navbar-inner -->
    </div>
    <!-- /navbar -->
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="sidebar">
                        <ul class="widget widget-menu unstyled">
                            <li class="active">
                                <a href="/Home/Index">
                                    <i class="menu-icon icon-th-list"></i>Dashboard
                                </a>
                            </li>
                            <li>
                                @if (User.IsInRole("Head_Of_House"))
                                {
                                    <a class="collapsed" data-toggle="collapse" href="#toggleNotifications">
                                        <b class="label orange" style="margin-right:5px">@NotificationsHelper.GetUnreadNotifications().Count()</b>
                                        <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                                        </i>Notifications
                                    </a>
                                    <ul id="toggleNotifications" class="collapse unstyled">
                                        <li><a href="/Notifications/IndexHead"><i class="menu-icon icon-list"></i>Household Notifications </a></li>
                                        <li><a href="/Notifications/Index"><b class="label orange" style="margin-right:7px">
                                            @NotificationsHelper.GetUnreadNotifications().Count()</b>My Notifications </a></li>
                                    </ul>
                                }
                                else
                                {
                                    <a href="/Notifications/Index"><i class="menu-icon icon-list"></i>Notifications
                                        <b class="label orange pull-right">@NotificationsHelper.GetUnreadNotifications().Count()</b></a>
                                }
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#toggleHome">
                                    <i class="menu-icon icon-home">
                                    </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                                    </i>Household
                                </a>
                                <ul id="toggleHome" class="collapse unstyled">
                                    @if (user.HouseholdId == null)
                                    {
                                        <li><a href="/Households/Create"><i class="icon-plus-sign dropIcon"></i>Create </a></li>
                                        <li><a href="other-login.html"><i class="icon-plus-sign dropIcon"></i>Join </a></li>
                                    }
                                    else
                                    {
                                        if (User.IsInRole("Admin"))
                                        {
                                            <li><a href="/Households/Index"><i class="icon-list-alt dropIcon"></i>All Households </a></li>
                                        }
                                        var myHouse = $"/Households/Details/{user.HouseholdId}";
                                        <li><a href=@myHouse><i class="icon-info-sign dropIcon"></i>Current </a></li>
                                        if (User.IsInRole("Head_Of_House") || User.IsInRole("Admin"))
                                        {
                                            var housEdit = $"/Households/Edit/{user.HouseholdId}";
                                            <li><a href=@housEdit><i class="icon-edit dropIcon"></i>Edit </a></li>
                                            <li><a href="/Invitations/Index"><i class="icon-list dropIcon"></i>All Invitations </a></li>
                                            var invCreate = $"/Invitations/Create/{user.HouseholdId}";
                                            <li><a href=@invCreate><i class="icon-envelope dropIcon"></i>Create Invite </a></li>
                                            if (!user.Household.IsConfigured)
                                            {
                                                var houseConf = $"/Households/Configure/{user.HouseholdId}";
                                                <li><a href=@houseConf><i class="icon-cog dropIcon"></i>Configure </a></li>
                                            }
                                        }
                                        <li><a id="LeaveHouse" style="cursor:pointer" @*href="/Households/Leave"*@><i class="icon-remove dropIcon"></i>Leave </a></li>
                                    }
                                </ul>
                            </li>
                            @if (user.HouseholdId != null && user.Household.IsConfigured)
                            {
                                <li>
                                    <a class="collapsed" data-toggle="collapse" href="#toggleTransactions">
                                        <i class="menu-icon icon-hdd">
                                        </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                                        </i>Transactions
                                    </a>
                                    <ul id="toggleTransactions" class="collapse unstyled">
                                        <li><a href="/Transactions/Index"><i class="menu-icon icon-list"></i>My Transactions </a></li>
                                        <li><a href="/Transactions/Create"><i class="menu-icon icon-barcode"></i>Create </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="collapsed" data-toggle="collapse" href="#toggleBankAccount">
                                        <i class="menu-icon icon-bold">
                                        </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                                        </i>Bank Accounts
                                    </a>
                                    <ul id="toggleBankAccount" class="collapse unstyled">
                                        <li><a href="/BankAccounts/Index"><i class="menu-icon icon-list"></i>My Accounts </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="collapsed" data-toggle="collapse" href="#toggleBucket">
                                        <i class="menu-icon icon-inbox">
                                        </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                                        </i>Buckets
                                    </a>
                                    <ul id="toggleBucket" class="collapse unstyled">
                                        <li><a href="/Buckets/Index"><i class="menu-icon icon-list"></i>My Buckets </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="collapsed" data-toggle="collapse" href="#toggleBucketItem">
                                        <i class="menu-icon icon-shopping-cart">
                                        </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                                        </i>Bucket Items
                                    </a>
                                    <ul id="toggleBucketItem" class="collapse unstyled">
                                        <li><a href="/BucketItems/Index"><i class="menu-icon icon-list"></i>My Bucket Items </a></li>
                                    </ul>
                                </li>
                            }
                            <li>
                                <a href="message.html">
                                    <i class="menu-icon icon-inbox"></i>Inbox <b class="label green pull-right">
                                        11
                                    </b>
                                </a>
                            </li>
                            <li>
                                <a href="task.html">
                                    <i class="menu-icon icon-tasks"></i>Tasks <b class="label orange pull-right">
                                        19
                                    </b>
                                </a>
                            </li>
                        </ul>
                        <ul class="widget widget-menu unstyled">
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages">
                                    <i class="menu-icon icon-cog">
                                    </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                                    </i>More Pages
                                </a>
                                <ul id="togglePages" class="collapse unstyled">
                                    <li><a href="other-login.html"><i class="icon-inbox dropIcon"></i>Login </a></li>
                                    <li><a href="other-user-profile.html"><i class="icon-inbox dropIcon"></i>Profile </a></li>
                                    <li><a href="other-user-listing.html"><i class="icon-inbox dropIcon"></i>All Users </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:$('#logoutForm').submit()">
                                    <i class="menu-icon icon-share-alt"></i>Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="span9">
                    <div class="content" style="padding-top: 15px">
                        @if (eConfirmed == true && User.Identity.IsAuthenticated)
                        {
                            @RenderBody()
                        }
                        else
                        {
                            { Response.Redirect("~/Account/NewlyRegistered"); }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p><strong>&copy; @DateTime.Now.Year - Biggy_Bank</strong> by Daniel Hebbard</p>
        </div>
    </div>

    <div id="hiddenFrm" style="display:none">
        @using (Html.BeginForm("Leave", "Households", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
        {
            @Html.AntiForgeryToken()
            <br />
            <div class="row-fluid">
                <div class="span12">
                    A Household cannot be left without a "Head of House" to run it. Please select a Successor in your place.
                </div>
            </div>
            <br />
            <div class="control-group">
                <br />
                <label class="control-label" for="LastName">Select Successor</label>
                <div class="controls">
                    @if (TempData["AppointSuccessor"] != null)
                    {
                        @Html.DropDownList("Successor", Session["Successor"] as SelectList)
                    }
                </div>
            </div>
            <div class="control-group">
                <br />
                <div class="controls">
                    <button type="submit" class="btn btn-large btn-primary">Leave Household</button>
                </div>
            </div>
            <br />
        }
    </div>

    <div id="hiddenFrm2" style="display:none">
        <div class="row-fluid">
            <div class="span12">
                Be sure you wish to leave your household before clicking the Leave button. This <b>cannot</b> be undone!
            </div>
        </div>
        <br />
        <br />
        <div class="row-fluid">
            <div class="span12">
                <a class="btn btn-primary" style="width:85px;height:34px;font-size:24px" href="/Households/Leave">Leave</a>
            </div>
        </div>
        <br />
    </div>

    <!-- Core Scripts -->
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--  Sweet Alert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- Morris Charts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <!-- JQuery Datatables -->
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <!-- Autonumeric -->
    <script src="//cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
    <!-- Custom Scripts -->
    <script src="~/Scripts/common.js"></script>

    @RenderSection("scripts", required: false)

    <script>
        $('#LeaveHouse').on("click", function () {
                Swal.fire({
                icon: 'warning',
                title: 'Warning!',
                html: $("#hiddenFrm2").html(),
                showCloseButton: true,
                showConfirmButton:false
            })
        });

        var appoint = '@TempData["AppointSuccessor"]';
        if (appoint != '') {
            Swal.fire({
                title: 'Leave Household',
                html: $("#hiddenFrm").html(),
                showCloseButton: true,
                showConfirmButton:false
            })
        };
        var errors = '@TempData["Errors"]';
        if (errors != '') {
            Swal.fire({
                icon: 'error',
                title: 'Oops!',
                html: errors.split("|").join("<br />")
            })
        };
        var noNotify = '@TempData["NoNotifications"]';
        if (noNotify != '') {
            Swal.fire({
                title: 'Oops...',
                text: noNotify
            })
        };
        var warn = '@TempData["Warning"]';
        if (warn != '') {
            Swal.fire({
                icon: 'warning',
                title: 'Warning!',
                text: warn
            })
        };
        var success = '@TempData["Success"]';
        if (success != '') {
            Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: success
            })
        };
        var appointed = '@TempData["Appointed"]';
        if (appointed != '') {
            Swal.fire({
                icon: 'success',
                title: 'Success!',
                html: appointed
            })
        };
    </script>

</body>
</html>