
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big_Bank</title>

    <style>
        body {overflow-y:scroll;}
        .controls {
            margin-left: 0px !important;
        }
        .btn-navbar {
            background-image: linear-gradient(to bottom, #1d1d2d, #2f2f3f) !important;
            color:lightgray !important;
        }
        .btn-navbar:hover {
            background-image: linear-gradient(to bottom, #1d2d4d, #2f3f5f) !important;
            color:white !important;
        }
        .btn:hover {
            background-position: 0 0 !important;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: lightgray !important;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: lightgray !important;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: lightgray !important;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: lightgray !important;
}    </style>

    <!-- Style sheets -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/theme.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
          rel='stylesheet'>
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse" style="margin-top:18px">
                    <i class="menu-icon icon-align-justify"></i>
                </a>
                <a class="brand">Big_Bank</a>
                <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav pull-right">
                        @if (ViewBag.Title != "Login" && ViewBag.Title != "Register" && ViewBag.Title != "Forgot your password?")
                        {
                            <li>
                                <a>The Wonder Piggy money management program</a>
                            </li>
                        }
                        else
                        {
                            if (ViewBag.Title != "Login")
                            {
                                <li>
                                    @Html.ActionLink("Login", "Login")
                                </li>
                            }
                            if (ViewBag.Title != "Register")
                            {
                                <li>
                                    @Html.ActionLink("Register", "Register")
                                </li>
                            }
                            if (ViewBag.Title != "Forgot your password?")
                            {
                                <li>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper" style="min-height: 350px">
        <div class="container" style="min-height:350px;background:url('../Images/bigpig.png')no-repeat;
                                background-size:230px; background-position-y:center; background-position-x:right">
            <div class="row" style="z-index:1!important">
                @RenderBody()
            </div>
        </div>
    </div><!--/.wrapper-->
    <div class="footer">
        <div class="container">
            <p><strong>&copy; @DateTime.Now.Year - Big_Bank</strong> by Daniel Hebbard</p>
        </div>
    </div>

    <!-- Scripts section -->
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <!--  Sweet Alert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    @RenderSection("scripts", required: false)

    <script>
        var errors = '@TempData["Errors"]';
        if (errors != '') {
            Swal.fire({
                icon: 'error',
                title: 'Oops!',
                html: errors.split("|").join("<br />")
            })
        };
    </script>
</body>
</html>