@model Financial_Portal.Models.Transaction

@{
    ViewBag.Title = "Create Transaction";
}


<div class="module" style="width:80%">
    <div class="module-head">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="module-body">
        @using (Html.BeginForm("Create", "Transactions", FormMethod.Post, new { @Class = "form-horizontal row-fluid", id = "transactFrm" }))
        {
            @Html.AntiForgeryToken()

            <div class="control-group">
                <label class="control-label" for="AccountId">Select Bank Account</label>
                <div class="controls">
                    @Html.DropDownList("AccountId", null, new { @class = "span8" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="BucketItemId">Select Bucket Item</label>
                <div class="controls">
                    @Html.DropDownList("BucketItemId", null, new { @class = "span8" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="TransactionType">Select Transaction Type</label>
                <div class="controls">
                    @Html.EnumDropDownListFor(m => m.TransactionType, null, new { @class = "span8" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Amount">Transaction Amount</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Amount, null, new { @class = "span8" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Memo">Transaction Memo</label>
                <div class="controls">
                    @Html.TextAreaFor(m => m.Memo, new { @class = "span8" })
                </div>
            </div>
            <div class="control-group">
                <br />
                <div class="controls">
                    <button type="submit" class="pull-left btn btn-large btn-primary">Create</button>
                    <a class="span4" style="margin-top:6px" href="/Transactions/Index">Back to List</a>
                </div>
            </div>

        }
    </div>
</div>

@section scripts{
    <script>
        new AutoNumeric('#Amount', { currencySymbol: '$', vMax: 9999999 })
        $("#transactFrm").submit(function (e) {
            e.preventDefault();
            form = document.getElementById("transactFrm");
            $.each(form.elements, function (i, el) {
                if (el.name == "Amount") {
                    if (el.value != "") {
                        el.value = el.value.split('$')[1].replace(/\,/g, '');
                    }
                }
            })
            form.submit();
            return true;
        });

    </script>

}