@model Financial_Portal.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<style>
    dd {
        margin-bottom:20px;
        border-left:1px solid #ccc;
        border-bottom:1px solid #ccc;
        padding-left:10px;
        margin-right:40px;
    }
</style>

<div class="module span6">
    <div class="module-head">
        <h3>Details for Transaction #@Model.Id</h3>
    </div>
    <dl class="module-body dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BucketItem.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BucketItem.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionType)
        </dd>

        <dt>
            @Html.DisplayName("Full Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>
    </dl>
    <p style="padding-left:15px">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
