@model Financial_Portal.Models.Transaction

<div class="module span6">
    <div class="module-head">
        <h3>Edit Transaction #@Model.Id</h3>
    </div>
    <div class="module-body">
        @using (Html.BeginForm("Edit", "Transactions", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Created)
            @Html.HiddenFor(model => model.OwnerId)

            <div class="control-group">
                <br />
                <label class="control-label" for="AccountId">Account Name</label>
                <div class="controls">
                    @Html.DropDownList("AccountId", null, new { @class = "span8" })
                </div>
            </div>
            <div class="control-group">
                <br />
                <label class="control-label" for="BucketItemId">Bucket Item</label>
                <div class="controls">
                    @Html.DropDownList("BucketItemId", null, new { @class = "span8" })
                </div>
            </div>
            <div class="control-group">
                <br />
                <label class="control-label" for="TransactionType">Transaction Type</label>
                <div class="controls">
                    @Html.EnumDropDownListFor(model => model.TransactionType, null, new { @class = "span8" })
                </div>
            </div>
            <div class="control-group">
                <br />
                <label class=" control-label" for="Amount">Tansaction Amount</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Amount, new { @class = "span8" })
                </div>
            </div>
            <div class="control-group">
                <br />
                <label class=" control-label" for="Memo">Tansaction Memo</label>
                <div class="controls">
                    @Html.TextAreaFor(model => model.Memo, new { @class = "span8", rows="4" })
                </div>
            </div>
            <div class="control-group">
                <br />
                <div class="controls">
                    <button type="submit" class="pull-left btn btn-large btn-primary">Save</button>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "span4", @style = "margin-top:6px" })

                </div>
            </div>
            <br />
        }
    </div>
</div>

